@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  background-color: #020617; /* slate-950 */
  color: #e5e7eb; /* slate-200 */
}
